@model IEnumerable<Genre>

@{
    ViewData["Title"] = "Genres";
}

<h2>
    <i class="bi bi-collection"></i>
    Genres
</h2>
<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No Genres found!
        </div>
    }
    else
    {
        <div class="row">
           @* <select>
            @foreach (var genre in Model)
            {
                <option>@genre.Name</option>
            }
            </select>*@

            <select id="myDropdown" class="form-control" asp-items="@(new SelectList(Model,"Id","Name"))">
                <option value="0" >Select Genre</option>
            </select>
        </div>
    }
</div>
<br />
@*<div>
    <partial name="_ShowMovies" />
</div>*@

@*<div id="movies-list">
    @await Html.PartialAsync("_ShowMovies", Model.GenreMovies)
</div>*@

<div id="movies-container">
    <!-- This is where the partial view content will be dynamically rendered -->
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            onchangeDropdown();
        });
        function onchangeDropdown() {
            $("#myDropdown").change(function () {
                var selectedOption = $(this).children("option:selected").val();
                alert("You selected: " + selectedOption);
               // @Url.Action("ShowMovies", "Geners")
                $.ajax({
                    url: '/Geners/ShowMovies/' + selectedOption,
                    success: function (data) {
                     console.log(data)
                        $("#movies-container").html(data);
                    },
                    error: function () {
                        toastr.error('Something went Wrong!');
                    }
                });
                //document.getElementById("txtSearch").value = selectedOption;
                //GetWithSearch('@Url.Action("Index", "Reconciliation")', '');
                //console.log(document.getElementById("txtSearch").value);

            });

        }

    </script>
}